<div>
  <a [routerLink]="['/']">
    <h1>NALA BONAE</h1>
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class=menu>
   <li><a [routerLink]="['/music']">MUSIC</a></li>
   <li><a [routerLink]="['/videos']">VIDEOS</a></li>
   <li><a [routerLink]="['/contact']">CONTACT</a></li>
</ul>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->